= simple_form_for ([:admins, @guest]), { :class => 'form-horizontal'} do |f|
  
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :invite_type, label: "check box to indicate full invite"
  = f.input :rsvp , label: "check box to change RSVP to yes"
  = f.input :vegetarian , label: "check box for vegetarian"
  = f.input :dietary

  
  = f.association :family , label: "select invite group to which guest belongs"

  .div
  = f.submit nil, label:'create guest', :class => 'btn btn-primary'