%h1 Guest List


%table.table.table-bordered.table-striped.table-hover
  %tr
    %th First name
    %th Last name
    %th Invite Name
    %th Invite type
    %th Login Code
    %th Email
    %th RSVP
    %th Vegetarian
    %th Other Dietary Reqs
    %th
    %th

  - @guests.each do |guest|
    %tr
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.family.name
      %td= guest.invite_type ? "ceremony & reception" : "reception only" 
      %th= guest.family.login_code
      %td= guest.email
      %td= guest.rsvp ? "Yes" : "No"
      %td= guest.vegetarian ? "Yes" : "No"
      %td= guest.dietary
      %td= link_to 'Show', admins_guest_path(guest), :class => 'btn btn-mini btn-primary'
      %td= link_to 'Delete', admins_guest_path(guest), :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => 'btn btn-mini btn-danger'
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Total number of guests
    %th Reception only
    %th Reception only RSVP
    %th Full invite
    %th Full invite RSVP
   
  %tr
    %td= Guest.count
    %td= Guest.count('invite_type', :conditions => [ 'invite_type = ?', false ])
    %td= Guest.count('rsvp', :conditions => [ 'invite_type = ?', false ])
    %td= Guest.count('invite_type', :conditions => [ 'invite_type = ?', true ])
    %td= Guest.count('rsvp', :conditions => [ 'invite_type = ?', true ])
   
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Vegetarian
    %th Other dietary requirments
    
  %tr
    %td= Guest.count('vegetarian', :conditions => [ 'vegetarian = ?', true ])
    %td= Guest.where("dietary is NOT NULL and dietary != ''").count
    
%br
