%h1 Listing guests

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th First name
    %th Last name
    %th Invite Name
    %th Invite type
    %th Email
    %th RSVP
    %th
    %th
    %th

  - @guest.each do |guest|
    %tr
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.family.name
      %td= guest.invite_type ? "cermeony & reception" : "reception only" 
      %td= guest.email
      %td= guest.rsvp ? "Yes" : "No"
      %td= link_to 'Show', admins_guest_path(guest)
      /%td= link_to 'Edit',  edit_admins_guests_path(@guest)
      %td= link_to 'Destroy', admins_guest_path(guest), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Guest', new_guest_path