= simple_form_for @guest, { :class => 'form-horizontal'} do |f|
  
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :invite_type
  = f.input :dietary
  = f.input :rsvp , label: "check box to change RSVP to yes"


  
  = f.association :family

  .form-actions
    = f.button :submit