%h1 Listing families

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @families.each do |family|
    %tr
      %td= family.name
      %td= link_to 'Show', family
      %td= link_to 'Edit', edit_family_path(family)
      %td= link_to 'Destroy', family, :method => :delete, :data => { :confirm => 'Are you sure?' }
      
  
%br

= link_to 'New Family', new_family_path
