
%ul.nav
  
  - if family_logged_in?
    %li.home-page-menu-item 
      = link_to 'Information about the day', information_path
    %li.home-page-menu-item 
      = link_to 'Logout',logout_path
    

    
   
  -if admin_logged_in? 
    %li.home-page-menu-item 
      = link_to 'log out admin', admins_logout_path
    %li.home-page-menu-item
      = link_to'Create Invite', new_admins_family_path
    %li.home-page-menu-item
      = link_to 'Add guests to families', new_admins_guest_path

    %li.home-page-menu-item
      = link_to 'Guest list', admins_guests_path
    %li.home-page-menu-item
      = link_to 'Invite list', admins_families_path
    %li.home-page-menu-item 
      = link_to 'Information about the day', information_path
  -else
    %li.home-page-menu-item 
      = link_to 'log in admin', admins_login_path
  




   

