
%ul.nav
  - if family_logged_in?
    %li.home-page-menu-item 
      = link_to 'Logout',logout_path
    
    %li.home-page-menu-item
      = link_to 'RSVP', edit_rsvp_path

  - else
    %li.home-page-menu-item
      = link_to 'Login', login_path
    
   
  -if admin_logged_in? 
    %li.home-page-menu-item 
      = link_to 'log out admin', admins_sessions_path, :method => :delete
    %li.home-page-menu-item
      = link_to'Create Invite', signup_path

    %li.home-page-menu-item
      = link_to 'Add guests to families', new_guest_path

    %li.home-page-menu-item
      = link_to 'Guestlist', admins_guests_path

  -else
    %li.home-page-menu-item 
      = link_to 'log in admin', '#'



   

